---
import { Button } from "@/components/ui/button";
import { ArrowRight } from "lucide-react";
import { IconBox } from "@/components/ui/iconBox";

const title = Astro.props.title;
const buttonText = Astro.props.buttonText;
const url = Astro.props.url;
---

<div class="flex flex-col items-center gap-5 pt-6">
  <IconBox variant="secondary">
    <slot />
  </IconBox>
  <h2 class="text-md font-medium">{title}</h2>
  <Button variant="outline" size="sm">
    <a
      href={url}
      target="_blank"
      rel="noopener noreferrer"
      class="flex flex-row items-center justify-center"
    >
      <p class="text-medium px-2 text-sm">{buttonText}</p>
      <ArrowRight strokeWidth={1} className="h-5 w-5 md:h-6 md:w-6" />
    </a>
  </Button>
</div>
