---
import ContentWrapper from "../components/ContentWrapper.tsx";
import { Accordion } from "@/components/ui/AccordionWrapper";
import CTA from "@/components/CTA.astro";

const accordionData = [
  {
    versionNumber: "v0.5.0",
    bulletpoints: [
      "Improved assigns inspection and tracking",
      "Async loading and streams debugging",
      "“Dead LiveViews” section showing recently crashed views",
      "Resource usage monitoring of LiveView processes",
      "Performance improvements",
    ],
  },
  {
    versionNumber: "v0.6.0",
    bulletpoints: [
      "Ability to send custom messages to LiveViews / LiveComponents",
      "Clearer error reporting for callback exceptions",
      "Debugging of temporary assigns",
      "Increased stability during application recompilation",
    ],
  },
  {
    versionNumber: "v0.7.0",
    bulletpoints: [
      "Extended filtering of global callback traces",
      "Links to source files defining the LiveView / LiveComponent",
      "Better support and representation of nested LiveViews",
      "More reliable association between browser windows and server processes",
    ],
  },
  {
    versionNumber: "v0.8.0",
    bulletpoints: [
      "Running LiveDebugger UI inside an iframe for improved stability",
      "Enhanced settings",
      "UI redesign",
      "Better isolation between LiveDebugger and the debugged application",
    ],
  },
  {
    versionNumber: "v1.0.0",
    bulletpoints: [
      "Updated documentation and contributor onboarding guide",
      "Requirement of LiveView v1.1.0+",
    ],
  },
];
---

<section
  id="roadmap"
  class="flex w-full flex-col items-center justify-center bg-white py-16 sm:py-20 md:py-32"
>
  <ContentWrapper
    className="font-aeonik text-primary flex flex-col items-center justify-center gap-12 sm:gap-14 md:gap-16 lg:gap-18"
  >
    <h2 class="text-primary text-center text-2xl font-bold">Roadmap</h2>

    <Accordion data={accordionData} client:idle />

    <CTA
      title="Have a feature idea?"
      buttonText="Let us know"
      url="https://github.com/software-mansion/live-debugger/issues/new/choose"
    >
      <img
        src={`/live-debugger/assets/github-3.svg`}
        class="h-7 w-7 sm:h-8 sm:w-8 md:h-10 md:w-10"
        alt={"github icon"}
        width="16"
        height="16"
      />
    </CTA>
  </ContentWrapper>
</section>
