---
import ContentWrapper from "../components/ContentWrapper.tsx";
import { Badge } from "./ui/badge";
import { BlockWrapper } from "./ui/blockWrapper";
import { SquareCheckBig } from "lucide-react";

const newsBlocks = [
  {
    title: "Ability to send custom messages to LiveViews",
    description:
      "Directly craft and inject custom events or messages into your LiveView process to test logic in total isolation. This allows you to verify how your handlers behave instantly without manually triggering UI actions or background jobs.",
    icon: SquareCheckBig,
  },
  {
    title: "Clearer error reporting for callback exceptions",
    description:
      "LiveDebugger now captures and displays callback exceptions directly within the tool. View the exact error and stack trace the moment a crash occurs, keeping your debugging workflow entirely in the browser.",
    icon: SquareCheckBig,
  },
  {
    title: "Revisited highlighting mechanism",
    description:
      "The revisited highlighting mechanism now extends beyond the node tree to include Active LiveViews and Streams. Simply hover over any item in the tool to instantly spotlight its corresponding element in the browser UI.",
    icon: SquareCheckBig,
  },
  {
    title: "Support for temporary assigns",
    description:
      "LiveDebugger supports temporary assigns, giving you full visibility into data that doesn’t stay in the socket.",
    icon: SquareCheckBig,
  },
];
---

<section
  id="whatsnew"
  class="bg-bg-additional flex w-full items-center justify-center py-15 sm:py-20 md:py-28 lg:py-32"
>
  <ContentWrapper
    className="font-aeonik text-primary flex w-full flex-col items-center justify-center gap-12 sm:gap-14 md:gap-16 lg:gap-18"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <Badge variant="ternary"
        ><p class="text-sm font-medium">LiveDebugger v0.6.0</p></Badge
      >
      <h2 class="text-primary text-center text-2xl font-bold">What’s new</h2>
      <h3 class="font-regular text-lg">
        Highlights from the February 2026 update.
      </h3>
    </div>

    <div class="aspect-video h-full w-full">
      <iframe
        class="h-full w-full"
        src="https://www.youtube.com/embed/UwoAqKYY2-w?si=iV2dolcoSBEcOXlr?controls=0"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>

    <div
      class={`w-full gap-x-8 gap-y-6 ${newsBlocks.length > 3 ? "grid grid-cols-1 md:grid-cols-2" : "flex justify-between max-md:flex-col"}`}
    >
      {
        newsBlocks.map((block) => {
          const Icon = block.icon;
          return (
            <BlockWrapper
              size="default"
              header={block.title}
              description={block.description}
              isFlat={true}
              client:visible
            >
              <Icon className="h-8 w-8 md:h-10 md:w-10 lg:h-11 lg:w-11 stroke-1" />
            </BlockWrapper>
          );
        })
      }
    </div>
  </ContentWrapper>
</section>
