<div id="live-debugger-tooltip" class="live-debugger-inspection-tooltip">
  <div class="live-debugger-tooltip-content">
    <div class="live-debugger-tooltip-type-wrapper">
      <div class="live-debugger-tooltip-icon-component">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#001a72"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path
            d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"
          />
          <path d="m3.3 7 8.7 5 8.7-5" />
          <path d="M12 22V12" />
        </svg>
      </div>
      <div class="live-debugger-tooltip-icon-view">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#001a72"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="m10 9-3 3 3 3" />
          <path d="m14 15 3-3-3-3" />
          <rect x="3" y="3" width="18" height="18" rx="2" />
        </svg>
      </div>
      <div class="live-debugger-tooltip-module"></div>
    </div>
    <div class="live-debugger-tooltip-info">
      <div class="live-debugger-tooltip-info-item type-info">
        <span class="label">Type:</span>
        <span class="value">
          <span class="type-text"></span>
          <span class="live-debugger-type-square"></span>
        </span>
      </div>
      <div class="live-debugger-tooltip-info-item id-info">
        <span class="label"></span>
        <span class="value"></span>
      </div>
    </div>
  </div>
</div>
