@import 'tailwindcss';

@import './font.css';
@import './colors.css';
@import './themes/dark.css';
@import './themes/light.css';

@config "../tailwind.config.js";

/* You can add custom styles here */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.scrollbar-main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
