@import './font.css';
@import './colors.css';
@import './themes/dark.css';
@import './themes/light.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add custom styles here */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.scrollbar-main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
