@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:where(.dark, .dark *));

@import './font.css';
@import './colors.css';
@import './themes/dark.css';
@import './themes/light.css';

@config "../tailwind.config.js";

@layer base {
  /* These are changes to make old styles work after migration to Tailwind 4 */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  /* Collapsible */
  details:open > summary > .rotate-icon {
    transform: rotate(90deg);
  }

  details > summary .hide-on-open {
    display: flex;
  }

  details:open > summary .hide-on-open {
    display: none;
  }

  details > summary .show-on-open {
    display: none;
  }

  details:open > summary .show-on-open {
    display: flex;
  }
}

/* You can add custom styles here */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

.scrollbar-main {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

body {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}
