@theme {
  /* General */
  --main-bg: var(--slate-100);
  --primary-text: var(--slate-900);
  --accent-text: var(--swm-brand);
  --secondary-text: var(--slate-600);
  --link-primary: var(--swm-brand);
  --link-primary-hover: var(--swm-brand-additional);
  --default-border: var(--slate-200);
  --surface-0-bg: var(--neutrals-white);
  --surface-0-bg-hover: var(--slate-100);
  --surface-1-bg: var(--slate-50);
  --surface-1-bg-hover: var(--slate-100);
  --surface-2-bg: var(--slate-100);
  --surface-2-bg-hover: var(--slate-200);
  --ui-surface: var(--neutrals-white);
  --ui-muted: var(--slate-300);
  --ui-accent: var(--swm-brand);

  /* Scrollbar */
  --scrollbar-thumb: var(--slate-300);
  --scrollbar-thumb-hover: var(--slate-400);

  /* Navbar */
  --navbar-bg: var(--neutrals-white);
  --navbar-border: var(--slate-200);
  --navbar-icon: var(--swm-brand);
  --navbar-icon-bg-hover: var(--slate-200);
  --navbar-icon-hover: var(--swm-brand);
  --navbar-logo: var(--swm-brand);

  /* Primary Button */
  --button-primary-bg: var(--swm-brand);
  --button-primary-bg-hover: var(--swm-brand-additional);
  --button-primary-content: var(--neutrals-white);
  --button-primary-content-hover: var(--neutrals-white);

  /* Secondary Button */
  --button-secondary-bg: var(--neutrals-white);
  --button-secondary-bg-hover: var(--slate-100);
  --button-secondary-border: var(--slate-200);
  --button-secondary-border-hover: var(--slate-200);
  --button-secondary-content: var(--swm-brand);
  --button-secondary-content-hover: var(--swm-brand);

  /* Other Button */
  --button-green-content: var(--swm-green-100);
  --button-green-content-hover: var(--swm-green-80);
  --button-red-content: var(--red-600);
  --button-red-content-hover: var(--red-400);

  /* Tooltip */
  --tooltip-text: var(--neutrals-white);
  --tooltip-bg: var(--swm-brand);

  /* Icons */
  --accent-icon: var(--swm-brand);

  /* Sidebar */
  --sidebar-bg: var(--neutrals-white);

  /* Code */
  --code-1: #2d2df7;
  --code-2: #7a808c;
  --code-3: #ec47f8;
  --code-4: #4b8b38;

  /* Error */
  --error-bg: var(--red-50);
  --error-border: var(--red-100);
  --error-icon: var(--red-500);
  --error-text: var(--red-800);

  /* Info */
  --info-bg: var(--surface-0-bg);
  --info-border: var(--default-border);
  --info-icon: var(--primary-text);
  --info-text: var(--primary-text);

  /* Warning */
  --warning-text: #e6bf00;

  --search-highlight-bg: var(--swm-yellow-80);
  --search-highlight-text: var(--slate-900);

  --diff-border: var(--swm-brand-additional);

  --diff-pulse-bg: var(--swm-sea-blue-60);
  --diff-pulse-text: var(--slate-900);
  --diff-negative-bg: var(--red-300);
  --diff-positive-bg: var(--swm-green-60);

  --status-dot-success-bg: var(--swm-green-100);
  --status-dot-warning-bg: var(--swm-yellow-100);
  --status-dot-error-bg: var(--swm-pink-100);
}
